.flex.justify-center.mb-4
  .hidden.lg:block
    %hr.my-8.border-b.border-gray-300/
    %blockquote.sm:flex.lg:block
      %p.text-lg.text-gray-600.dark:text-gray-400= t("subscriptions.new.testimonial", product: Jumpstart.config.application_name)
      %cite.mt-4.block.font-semibold.not-italic.text-gray-900.dark:text-gray-200
        .flex.items-center
          %img.block.h-8.rounded-full.mx-auto.mb-4.sm:mb-0.sm:mr-4.sm:ml-0{:alt => "", :src => "https://avatars1.githubusercontent.com/u/67093?s=40&v=4"}/
          %p.font-medium.leading-tight Chris Oliver
