%h4= subscription.plan&.name || subscription.name
- unless subscription.plan.nil?
  .mb-2.text-lg
    = pay_amount_to_currency(subscription)
    \/ #{subscription.plan.interval}
  - if subscription.quantity > 1 || subscription.plan.charge_per_unit?
    %div= t(".quantity", quantity: subscription.quantity, price: pay_amount_to_currency(subscription.plan), unit: (subscription.plan.unit_label? ? t(".per_unit", unit: subscription.plan.unit_label) : t(".each")))
