%p.mb-4.text-xl.text-gray-700.dark:text-gray-300.leading-normal
  There are several sites that can help with the creation of your terms of service.
%p.mb-4.text-xl.text-gray-700.dark:text-gray-300.leading-normal
  Have your text reviewed by a lawyer before going live.
%ul
  %li
    %a{:href => "https://github.com/basecamp/policies"} Basecamp
  %li
    %a{:href => "https://www.iubenda.com/en/"} Iubenda
  %li
    %a{:href => "https://termly.io/"} Termly
  %li
    %a{:href => "https://getterms.io/"} Get Terms
